 .outline{
outline: 2px solid #ed217c;
outline-offset: 2px;
}

.btn{
width: 110px;
height: 30px;
font-size: 1.0em;
cursor: pointer; background: #171717;
color: #8ab4ca;
border-radius: 20px;
transition: all 0.3s;
} 

.btn:hover{
 border-radius: 10px;
transform: translateY(-10px); box-shadow: 0 5px 0 1px #f85959, 0 15px 0-4px #39a2db, 0 16px 10px -3px #39a2db;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'poppins', sans-serif;
 }
 .container{
     width: 100%;
     height: 100vh;
     background-image: linear-gradient(rgba(0, 0, 0, 0.4 ),transparent),url("https://cutewallpaper.org/22/minimal-mountain-wallpapers/3113130254.jpg");
 ;
 background-size: cover;
 background-position: center ;
 padding: 0 8%;
 position: relative;
 }
 .snd{
  width: 100%;
  height: 100vh;
  background-color: #166087;
background-size: cover;
background-position: center ;
padding: 0 8%;
position: relative;
 } 

 nav{
 display: flex;
 width: 100%;
 align-items: center;
 flex-wrap: wrap;
 padding: 5px 0;
 } 

 .logo{
    border-radius: 50%;
 width: 60px;
 cursor: pointer;
 }

 .cart-icon{
 width: 30px;
 cursor: pointer;
 }

 nav ul{
 flex: 1;
 text-align: right;
 padding-right: 30px;
 }

 nav ul li{
 display: inline-block;
 list-style: none;
 margin: 10px 30px;
 }

 nav ul li a{
 color: #fff;
 text-decoration: none;
 position: relative;
 }

 nav ul li a::after{
 content: '';
 width: 50% ;
 height: 3px;
 position: absolute;
 bottom: 1px;
 left: 50%;
 transform: translateX(-50%);
 background: #fff;
 transition: width 0.3s;
 }  
nav ul li a:hover::after
{
width: 50%;
}
footer{
background: #0f4461;
height: auto;
width: auto;
font-variant: "Open Sans";
padding-top: 40px;
color: #a1b9c5;
}
.img{
height: 20px;
}
footer a img{
height: 50px;
}
.text-box{
color: #ffff;
position: absolute;
bottom: 8%;
}
.text-box p{
font-size: 50px;
font-weight: 600;
}
.text-box h1{
font-size: 190px;
line-height: 160px;
margin-left: -10px;
color: transparent;
-webkit-text-stroke: 1px  #fff;
background: url(media/back.png);
-webkit-background-clip: text;
background-position: 0 0;
animation: back 20s linear infinite;
}
@keyframes back {
100%{
background-position: 2000px 0;
} }
.text-box h3{
font-size: 40px;
font-weight: 500;
}
.text-box a{
  color: #fff;
  text-decoration: none;
  padding:  10px 20px;
  margin-right: 20px;
} 
.content {
top: 20%;
position: absolute;
transition: translateY(-50%);
}
.content h1{
font-size: 64px;
font-weight: 600;
color: #ffff;
} 
.footer_info h3 {
align-items: center;
}

.footer_info p {
align-items: center;
}

.content h1 span{
Color: #98BACD;
}
  
.form {
  text-align: center;
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(0, 0, 0, 0.4 ),transparent),url("https://cutewallpaper.org/22/minimal-mountain-wallpapers/3113130254.jpg");
;
background-size: cover;
background-position: center ;
padding: 0 8%;
position: relative;
}

label{ 
font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
align-items: center;
}

 input{
  background: rgba(255, 255, 255, 0.603);
    width: 25%;
    padding:5px;
    margin:4px;
    border-radius:1px;
    border:1px solid rgba(0, 81, 255, 0.226);
    font-family:inherit;

  }

/*
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*,*:before,*:after{box-sizing:border-box}

body{
  min-height:100vh;
  font-family: 'Raleway', sans-serif;
}

.container22{
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
  
  &:hover,&:active{
    .top, .bottom{
      &:before, &:after{
        margin-left: 200px;
        transform-origin: -200px 50%;
        transition-delay:0s;
      }
    }
    
    .center{
      opacity:1;
      transition-delay:0.2s;
    }
  }
}

.top, .bottom{
  &:before, &:after{
    content:'';
    display:block;
    position:absolute;
    width:200vmax;
    height:200vmax;
    top:50%;left:50%;
    margin-top:-100vmax;
    transform-origin: 0 50%;
    transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    z-index:10;
    opacity:0.65;
    transition-delay:0.2s;
  }
}

.top{
  &:before{transform:rotate(45deg);background:#e46569;}
  &:after{transform:rotate(135deg);background:#ecaf81;}
}

.bottom{
  &:before{transform:rotate(-45deg);background:#60b8d4;}
  &:after{transform:rotate(-135deg);background:#3745b5;}
}

.center{
  position:absolute;
  width:400px;
  height:400px;
  top:50%;left:50%;
  margin-left:-200px;
  margin-top:-200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px;
  opacity:0;
  transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay:0s;
  color:#333;
  
  input{
    width:100%;
    padding:15px;
    margin:5px;
    border-radius:1px;
    border:1px solid #ccc;
    font-family:inherit;
  }
}  */

